.app {
  @apply bg-primary font-sans;
}

.app__whitebg {
  @apply bg-white;
}

.app__primarybg {
  @apply bg-primary;
}

.app__container {
  @apply w-full min-h-screen flex flex-row;
}

.app__flex {
  @apply flex justify-center items-center;
}

.app__wrapper {
  @apply 
    flex-1 w-full flex-col 
    pt-16 px-4 pb-8 
    sm:py-16 sm:px-8;
}

.copyright {
  @apply 
    w-full pt-8 
    flex flex-col 
    justify-center items-center
    [&>p]:uppercase [&>p]:text-black;
}

.head-text {
  @apply 
    text-4xl font-extrabold text-center text-black capitalize
    [&>span]:text-secondary
    sm:text-5xl
    lg:text-6xl;
}

.p-text {
  @apply
    text-sm text-left text-gray leading-normal
    lg:text-3xl;
}

.bold-text {
  @apply
    text-sm font-extrabold text-black text-left
    sm:text-base
    lg:text-3xl;
}

.app__social {
  @apply
    flex justify-end items-center flex-col p-4
    [&>div]:w-10 [&>div]:h-10 [&>div]:rounded-full 
}

